NMAP OS Emulation: Need a reverse CRC32 generator for RST data checksum matching

The Fingerprint file stores a CRC32 checksum of data it receives from certain parts of the packet. From nmap,

```
TCP RST data checksum (RD)

 Some operating systems return ASCII data such as error messages 
 in reset packets. This is explicitly allowed by section 4.2.2.12 of RFC 1122. 
 When Nmap encounters such data, it performs a CRC32 checksum and reports the 
 results. When there is no data, RD is set to zero. Some of the few 
 operating systems that may return data in their
 reset packets are HP-UX and versions of Mac OS prior to Mac OS X.
```

Honeyd parses this out of the Fingerprint but does not use it.  In order to reply properly, we need to be able to generate a chunk of data which matches a given CRC32 hash. CRC32 isn't meant to be secure, and this is actually a fairly easy thing to do. Take a look at some pages on Reversing CRC32 and write a function which can generate data that matches a given CRC32 hash, and then make use of it in Honeyd's responses for this type of OS personality.
